
:root {
    --primary-color: #f5f1e3;
    --secondary-color: #1b9aaa;
    --back-color: black;
    --medium-text: 1.8em;
    --large-text:2.5em;
    --small-text:1.4em;

}



* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

html{
    font-size: 65.5%;
}

.body {
    background-color: var(--back-color);
}

main{
    margin: 0 auto;
    max-width: 1380px;
}


.afterimage{
    height: 700px;
    display: block;
    color: var(--primary-color);
}


/*----------HEADER-------------*/ 

.header {
    background-image: url(../img/Rectangle\ 1.png);
    background-size: cover;
    height: 180px;
    display: flex;
    flex-direction: column;
       
}   

.navegador{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: var(--small-text);
    padding-right: 6em;
}

.navegador__lista {
    list-style-type: none;
    border: none;
    padding: 5px;
    text-decoration-line: none;   
    font-size: inherit;
}

.navegador__lista__item {
    display: inline;
    padding: 10px;
    font-size: inherit;
}

.navegador__lista__item a {
    color: var(--primary-color);
}


.navegador__lista__item a:hover {
    color: var(--secondary-color) !important;
    border-bottom-color: var(--secondary-color);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 0rem;
}

.logo {
    margin-left: 50px;
    margin-top: 20px;
    width: 140px;
}

.line {
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
}

@media screen and (max-width: 900px){
    .header {
        align-items: center;
    }
    .navegador{
        padding-right: 0em;
    }
    .logo{
        margin-left: 0em;
    }
}


/*----------FIN HEADER-------------*/ 

/*----------FOOTER-------------*/ 
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px;
    font-size: var(--small-text);
    color: var(--primary-color);
    
}

.footer__datos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__redes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 0.5rem
}

.footer__redes a {
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 0rem;
}

.footer__redes a:hover {
    border-bottom-color: var(--secondary-color);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 0rem;
}   

/*----------FIN FOOTER-------------*/ 


/*----------INICIO-------------*/ 



.home{
    background-image: url(../img/Frame\ 2s.jpg);
    background-size: cover;
    height: 1000px;
    margin: 0 auto;
    background-position: center;
}

.cuerpo__frase{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 3rem;
    color: var(--primary-color);
}

.cuerpo__frase__title{
    font-size: var(--large-text);
}

.cuerpo__frase__text{
    font-size: var(--medium-text);
}


.cuerpo__seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--medium-text);
    color: var(--primary-color);
    padding-top: 3.5rem;

}

.cuerpo__seccion img:hover {
    border-color: var(--secondary-color);
    border-style: solid;
    border-width: 4px;
    border-radius: 127px;
}

.imagen {
    width: 250px;
    border-color: var(--back-color);
    border-style: solid;
    border-width: 4px;
    border-radius: 127px;
}

/* .cuerpo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15rem 1fr;
    grid-template-areas: 
    "frase frase frase"
    "sedes torneo quierojugar";
    gap: 5rem;
    margin-bottom: 8rem;
} */

/* #frase{
    grid-area: frase;
}

#sedes{
    grid-area: sedes;
}

#torneo{
    grid-area: torneo;
}

#quierojugar{
    grid-area: quierojugar;
} */



@media screen and (max-width: 900px) {
    .cuerpo {
       grid-template-columns: 1fr;
       grid-template-rows: 15rem 1fr 1fr 1fr;
       grid-template-areas: 
       "frase"
       "sedes"
       "torneo"
       "quierojugar";
    }
    .imagen{
        width: 200px;
    }
}



/*----------FIN INICIO-------------*/ 


/*----------SEDES-------------*/ 
.sedes {
    background-image: url(../img/Frame\ 3.jpg);
    background-size: cover;
    height: 1000px;
    background-position: center;
}
.title__sedes{
    font-size: var(--large-text);
    color: var(--primary-color);
}


.afterimage__grid{
    display: grid;
    grid-template-areas: 
    "frase frase"
    "capital zonanorte"
    "zonasur oeste";
    grid-template-rows: 70px 330px 330px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: var(--primary-color);
}
#capital{
    grid-area: capital;
}
#zonasur{
    grid-area: zonasur;
}
#zonanorte{
    grid-area: zonanorte;
}
#oeste{
    grid-area: oeste;
}
#frase__sedes{
    grid-area: frase;
}


.grid__item__capital{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: 2px; */
    background-image: url(../img/alex-azabache-1cPWeb3Ud30-unsplash.png);
    background-size: cover;
    flex: 1 1 50%;

    }

.grid__item__norte{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: 2px; */
    background-image: url(../img/benjamin-gremler-ZtTkB3LmlNw-unsplash.png);
    background-size: cover;
    flex: 1 1 50%;

}

.grid__item__sur{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: 2px; */
    background-image: url(../img/vienna-reyes-qCrKTET_09o-unsplash.png);
    background-size: cover;
    flex: 1 1 50%;

}

.grid__item__oeste{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: 2px; */
    background-image: url(../img/anna-sullivan-KnE8rsBZq8U-unsplash.png);
    background-size: cover;
    flex: 1 1 50%;

}
.sedes__foto{
    width: 27rem;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.741)); 
}
.sedes__text{
    filter: drop-shadow(1px 1px 1px black);
}

@media screen and (max-width: 900px) {
    .afterimage__grid{
        display: flex;
        flex-direction: column;
        flex: 1 1 90%;
        /* grid-template-rows: 70px 330px 330px 330px 330px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "frase"
        "capital"
        "zonanorte"
        "zonasur"
        "oeste"; */
        gap:4rem;
    }
    main{
        margin: 0 auto;
        max-width: 80vw;
    }
    .title__sedes{
        justify-self: center;
    }
    
    .sedes__foto{
        width: 15rem;
    }
}

/*----------FIN SEDES-------------*/ 


/*----------QUIERO JUGAR-------------*/ 

.quierojugar{
    background-image: url(../img/Group\ 2.jpg);
    background-size: cover;
    height: 1100px;
    background-position: center;
}

.pasos{
    margin-top: 50px;
    margin-left: 10px;
    color: var(--primary-color);
}

.pasos__headline{
    margin-bottom: 5px;
    color: var(--primary-color);
}

/*----------FIN QUIERO JUGAR-------------*/ 


/*----------TORNEO-------------*/ 
.torneo {
    background-image: url(../img/Group\ 1.jpg);
    background-size: cover;
    height: 1100px;
    background-position: center;
}

#torneo__estadisticas{
    color: var(--primary-color);
}

.afterimage__torneo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas:
    "titulo titulo"
    "posiciones goleadores"
    "fixture fixture";
    gap: 2rem;
    color: var(--primary-color);
}

#titulo{
    grid-area: titulo;
    display: inline-block;
    font-size: var(--large-text);
} 

#posiciones{
    grid-area: posiciones;
}

#goleadores{
    grid-area: goleadores;
}

#fixture{
    grid-area: fixture;
}

.posiciones{
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 0.5rem;
    justify-content: space-evenly;

}
.goleadores{
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    gap: 0.5rem;
}
.fixture{
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    display: grid;
    grid-template-columns: repeat (4, 25%);
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "titulo none none none"
    "fecha6 fecha7 fecha8 fecha9";
    justify-items: center;
    align-items: center;
    gap: 3rem;
}
#fixture__title{
    grid-area: titulo;
}
#fecha6{
    grid-area: fecha6;
}
#fecha7{
    grid-area: fecha7;
}
#fecha8{
    grid-area: fecha8;
}

#fecha9{
    grid-area: fecha9;
}

.torneo__title{
    font-size: var(--medium-text);
    align-self: start;
    justify-self: start;
}
.equipo{
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 900px){
    .afterimage__torneo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr;
        grid-template-areas:
        "titulo"
        "posiciones"
        "goleadores"
        "fixture";
    }   
    .fixture{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr;
        grid-template-areas:
        "titulo titulo"
        "fecha6 fecha7"
        "fecha8 fecha9";
       padding-bottom: 2rem;
    }
}

/*----------FIN TORNEO-------------*/ 


/*----------CONTACTANOS-------------*/ 
.contactanos{
    background-image: url(../img/Frame\ 4.jpg);
    background-size: cover;
    height: 1000px;
    background-position: center;
}

.formulario {
    display: inline-block;
    border-width: 5px;
    border-color: aliceblue;
    border-style: solid;
    padding: 15px;
    margin-top: 30px;
    margin-left: 550px;
    margin-bottom: 50px;
    color: var(--primary-color);
}

.formulario__botones {
    color: black;
    width: 240px;
    color: var(--primary-color);
}
.formulario__texto{
    margin-top: 15px;
    color: var(--primary-color);
}


/*----------FIN CONTACTANOS-------------*/ 











