@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
/***********VARIABLES**********/
/***********FIN VARIABLES**********/
/***********NORMALIZACION**********/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif; }

html {
  font-size: 65.5%;
  font-family: 'Roboto Slab', serif; }

.body {
  background-color: black; }

main {
  margin: 0 auto;
  max-width: 1380px; }

.afterimage {
  height: 400px;
  display: block;
  color: #f5f1e3; }

/***********FIN NORMALIZACION**********/
/***********HEADER**********/
.header {
  background-image: url(../img/Rectangle1.png);
  background-size: cover;
  height: 180px;
  display: flex;
  flex-direction: column; }
  .header .logo {
    margin-left: 50px;
    margin-top: 20px;
    width: 140px; }
  .header .line {
    margin: 0 auto;
    width: 100%;
    margin-top: 10px; }
  .header nav {
    font-size: var(--small-text);
    padding-right: 6em; }
    .header nav div div ul li a {
      color: #f5f1e3; }
      .header nav div div ul li a:hover {
        color: #1b9aaa !important;
        border-bottom-color: #1b9aaa;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        padding-bottom: 0rem; }

@media screen and (max-width: 1000px) {
  .header {
    align-items: center; }
    .header .logo {
      margin-left: 0px;
      margin-top: 10px;
      width: 140px; }
  nav div div ul li a {
    filter: drop-shadow(1px 1px 1px black); } }

/***********FIN HEADER**********/
/***********FOOTER**********/
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px;
  font-size: 1.4rem;
  color: #f5f1e3; }
  .footer__datos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px; }
    .footer__datos__contacto {
      margin-bottom: 0px; }
  .footer__redes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 0.5rem; }
    .footer__redes a {
      border-bottom-color: black;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      padding-bottom: 0rem; }
    .footer__redes a:hover {
      border-bottom-color: #1b9aaa;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      padding-bottom: 0rem; }

@media screen and (max-width: 500px) {
  .footer {
    font-size: 1rem; } }

/***********FIN FOOTER**********/
/***********INICIO**********/
.home {
  background-image: url(../img/Frame2s.jpg);
  background-size: cover;
  height: 1000px;
  margin: 0 auto;
  background-position: center; }

main .cuerpo__frase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 3rem;
  color: #f5f1e3; }
  main .cuerpo__frase__title {
    font-size: 2.5rem; }
  main .cuerpo__frase__text {
    font-size: 1.8rem; }

main .cuerpo__enlaces {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  main .cuerpo__enlaces .cuerpo__seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    color: #f5f1e3;
    padding-top: 3.5rem; }
    main .cuerpo__enlaces .cuerpo__seccion img {
      width: 250px;
      border-color: black;
      border-style: solid;
      border-width: 4px;
      border-radius: 127px; }
      main .cuerpo__enlaces .cuerpo__seccion img:hover {
        border-color: #1b9aaa;
        border-style: solid;
        border-width: 4px;
        border-radius: 127px; }

@media screen and (max-width: 900px) {
  main .cuerpo__frase__title {
    font-size: 1.8rem; }
  main .cuerpo__frase__text {
    font-size: 1.4rem; }
  main .cuerpo__enlaces {
    display: flex;
    flex-direction: column;
    margin-top: 4rem; } }

/***********FIN INICIO**********/
/***********FIN SEDES**********/
.sedes {
  background-image: url(../img/Frame3.jpg);
  background-size: cover;
  height: 1000px;
  background-position: center; }

.afterimage__grid {
  display: grid;
  grid-template-areas: "frase frase" "capital zonanorte" "zonasur oeste";
  grid-template-rows: 70px 330px 330px;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #f5f1e3; }
  .afterimage__grid .title__sedes {
    font-size: 2.5rem;
    color: #f5f1e3; }
  .afterimage__grid #capital {
    grid-area: capital; }
  .afterimage__grid #zonasur {
    grid-area: zonasur; }
  .afterimage__grid #zonanorte {
    grid-area: zonanorte; }
  .afterimage__grid #oeste {
    grid-area: oeste; }
  .afterimage__grid #frase__sedes {
    grid-area: frase; }
  .afterimage__grid .grid__item, .afterimage__grid .grid__item__capital, .afterimage__grid .grid__item__norte, .afterimage__grid .grid__item__sur, .afterimage__grid .grid__item__oeste {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    flex: 1 1 50%; }
    .afterimage__grid .grid__item__capital {
      flex-direction: row-reverse;
      background-image: url(../img/alex-azabache-1cPWeb3Ud30-unsplash.png); }
    .afterimage__grid .grid__item__norte {
      flex-direction: row;
      background-image: url(../img/benjamin-gremler-ZtTkB3LmlNw-unsplash.png); }
    .afterimage__grid .grid__item__sur {
      background-image: url(../img/vienna-reyes-qCrKTET_09o-unsplash.png);
      flex-direction: row-reverse; }
    .afterimage__grid .grid__item__oeste {
      flex-direction: row;
      background-image: url(../img/anna-sullivan-KnE8rsBZq8U-unsplash.png); }

.sedes__foto {
  width: 27rem;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.741)); }

.sedes__text {
  filter: drop-shadow(1px 1px 1px black);
  font-size: 1.4rem; }

@media screen and (max-width: 480px) {
  main {
    margin: 0 auto;
    max-width: 80vw; }
    main .afterimage__grid {
      display: flex;
      flex-direction: column;
      flex: 1 1 90%;
      gap: 4rem; }
    main .title__sedes {
      justify-self: center; }
    main div .sedes__text {
      font-size: 1rem; }
  .sedes__foto {
    width: 15rem; } }

@media screen and (min-width: 481px) and (max-width: 900px) {
  main {
    margin: 0 auto;
    max-width: 80vw; }
    main .afterimage__grid {
      display: flex;
      flex-direction: column;
      flex: 1 1 90%;
      gap: 4rem; }
    main .title__sedes {
      justify-self: center; }
    main div .sedes__text {
      font-size: 1.4rem; }
  .sedes__foto {
    width: 20rem; } }

/***********FIN SEDES**********/
/***********TORNEO**********/
.torneo {
  background-image: url(../img/Group1.jpg);
  background-size: cover;
  height: 1100px;
  background-position: center; }

.afterimage__torneo section article #titulo {
  font-size: 2.5rem;
  color: #f5f1e3;
  align-self: start;
  justify-self: start;
  margin-bottom: 25px; }

/***********FIN TORNEO**********/
/***********QUIERO JUGAR**********/
.quierojugar {
  background-image: url(../img/Group2.jpg);
  background-size: cover;
  height: 1100px;
  background-position: center; }

.afterimage__pasos {
  margin-bottom: 45px; }
  .afterimage__pasos article .pasos__headline {
    margin-bottom: 15px;
    color: #f5f1e3;
    font-size: 2.5rem; }

/***********FIN QUIERO JUGAR**********/
/***********CONTACTANOS**********/
.contactanos {
  background-image: url(../img/Frame4.jpg);
  background-size: cover;
  height: 1000px;
  background-position: center; }

main .afterimage__contactanos h2 {
  font-size: 2.5rem;
  color: #f5f1e3; }

main .afterimage__contactanos p {
  font-size: 1.8rem;
  color: #f5f1e3; }

main .afterimage__contactanos div form div label {
  color: #f5f1e3;
  font-size: 1.4rem; }

main .afterimage__contactanos div form div input {
  width: 100%; }

main .afterimage__contactanos div form div textarea {
  height: 200px; }

@media screen and (max-width: 600px) {
  .afterimage__contactanos div form div input {
    width: 100%; } }

/***********FIN CONTACTANOS**********/
