/***********CONTACTANOS**********/


.contactanos{
    background-image: url(../img/Frame4.jpg);
    background-size: cover;
    height: 1000px;
    background-position: center;
}

main{
    .afterimage__contactanos{
        h2{
            font-size: $large-text;
            color: $primary-color;
        }
        p{
            font-size: $medium-text;
            color: $primary-color;  
        }
        div{
            form{
                div{
                    label{
                        color: $primary-color;
                        font-size: $small-text;
                    }
                    input{
                        width: 100%;
                    }
                    textarea{
                        height: 200px;
                    }
                }
            }
        }
    
    }
}

@media screen and (max-width: 600px) {
    .afterimage__contactanos{
        div{
            form{
                div{
                    input{
                        width: 100%;
                    }
                }
            }
        }
    
    }
}

/***********FIN CONTACTANOS**********/