/***********QUIERO JUGAR**********/
.quierojugar{
    background-image: url(../img/Group2.jpg);
    background-size: cover;
    height: 1100px;
    background-position: center;
}

.afterimage__pasos{
    margin-bottom: 45px;
    article{
        .pasos__headline{
            margin-bottom: 15px;
            color: $primary-color;
            font-size: $large-text;
        }

    }

}









/***********FIN QUIERO JUGAR**********/