/***********QUIERO JUGAR**********/
.quierojugar{
    background-image: url(../img/Group2.jpg);
    background-size: cover;
    height: 1100px;
    background-position: center;
}

.pasos{
    margin-top: 50px;
    margin-left: 10px;
    color: $primary-color;
}

.pasos__headline{
    margin-bottom: 5px;
    color: $primary-color;
}

/***********FIN QUIERO JUGAR**********/