/***********QUIERO JUGAR**********/
.quierojugar{
    background-image: url(../img/Group2.jpg);
    background-size: cover;
    height: 1100px;
    background-position: center;
}

.afterimage__pasos{
    margin-bottom: 45px;
    article{
        .pasos__headline{
            margin-bottom: 15px;
            color: $primary-color;
            font-size: $large-text;
        }

    }

}

.carousel-inner{
    div{
        div{
            filter: drop-shadow(1px 1px 1px black);
            h3{
                font-size: $medium-text;
            }
            p{
                font-size: $small-text;
            }
        }
    }


}







/***********FIN QUIERO JUGAR**********/