


/***********FIN SEDES**********/

.sedes {
    background-image: url(../img/Frame3.jpg);
    background-size: cover;
    height: 1000px;
    background-position: center;
}

.afterimage__grid{
    display: grid;
    grid-template-areas: 
    "frase frase"
    "capital zonanorte"
    "zonasur oeste";
    grid-template-rows: 70px 330px 330px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: $primary-color;
    .title__sedes{
        font-size: $large-text;
        color: $primary-color;
    }
    #capital{
        grid-area: capital;
    }
    #zonasur{
        grid-area: zonasur;
    }
    #zonanorte{
        grid-area: zonanorte;
    }
    #oeste{
        grid-area: oeste;
    }
    #frase__sedes{
        grid-area: frase;
    }
      
    .grid__item{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        align-items: center;
        background-size: cover;
        flex: 1 1 50%;
        &__capital{
            @extend .grid__item;
            flex-direction: row-reverse;
            background-image: url(../img/alex-azabache-1cPWeb3Ud30-unsplash.png);
        }
        &__norte{
            @extend .grid__item;
            flex-direction: row;
            background-image: url(../img/benjamin-gremler-ZtTkB3LmlNw-unsplash.png);
        }
        &__sur{
            @extend .grid__item;
            background-image: url(../img/vienna-reyes-qCrKTET_09o-unsplash.png);
            flex-direction: row-reverse;
        }
        &__oeste{
            @extend .grid__item;
            flex-direction: row;
            background-image: url(../img/anna-sullivan-KnE8rsBZq8U-unsplash.png);
        }
    }
}

.sedes__foto{
    width: 27rem;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.741)); 
}
.sedes__text{
    filter: drop-shadow(1px 1px 1px black);
    font-size: $small-text;
}

$sedes: (
    norte: red,
    sur: blue,
    capital: green,
    oeste: rgb(0, 229, 255),
);

@each $sede, $color in $sedes {
    .grid__item__#{$sede}{
        border: (3px solid $color);
            }
    
}

@media screen and (max-width: 480px) {
    main{
        margin: 0 auto;
        max-width: 80vw;
        .afterimage__grid{
            display: flex;
            flex-direction: column;
            flex: 1 1 90%;
            gap:4rem;
        }
        .title__sedes{
            justify-self: center;
        }
        div{
            .sedes__text{
                font-size: $tiny-text;
            }
        }
    }    
    .sedes__foto{
        width: 15rem;
    }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
    main{
        margin: 0 auto;
        max-width: 80vw;
        .afterimage__grid{
            display: flex;
            flex-direction: column;
            flex: 1 1 90%;
            gap:4rem;
        }
        .title__sedes{
            justify-self: center;
        }
        div{
            .sedes__text{
                font-size: $small-text;
            }
        }
    }    
    .sedes__foto{
        width: 20rem;
    }
}


/***********FIN SEDES**********/
