


/***********FIN SEDES**********/

.sedes {
    background-image: url(../img/Frame3.jpg);
    background-size: cover;
    height: 1000px;
    background-position: center;
}
.title__sedes{
    font-size: $large-text;
    color: $primary-color;
}


.afterimage__grid{
    display: grid;
    grid-template-areas: 
    "frase frase"
    "capital zonanorte"
    "zonasur oeste";
    grid-template-rows: 70px 330px 330px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: $primary-color;
}
#capital{
    grid-area: capital;
}
#zonasur{
    grid-area: zonasur;
}
#zonanorte{
    grid-area: zonanorte;
}
#oeste{
    grid-area: oeste;
}
#frase__sedes{
    grid-area: frase;
}


.grid__item__capital{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: 2px; */
    background-image: url(../img/alex-azabache-1cPWeb3Ud30-unsplash.png);
    background-size: cover;
    flex: 1 1 50%;

    }

.grid__item__norte{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: 2px; */
    background-image: url(../img/benjamin-gremler-ZtTkB3LmlNw-unsplash.png);
    background-size: cover;
    flex: 1 1 50%;

}

.grid__item__sur{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: 2px; */
    background-image: url(../img/vienna-reyes-qCrKTET_09o-unsplash.png);
    background-size: cover;
    flex: 1 1 50%;

}

.grid__item__oeste{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: 2px; */
    background-image: url(../img/anna-sullivan-KnE8rsBZq8U-unsplash.png);
    background-size: cover;
    flex: 1 1 50%;

}
.sedes__foto{
    width: 27rem;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.741)); 
}
.sedes__text{
    filter: drop-shadow(1px 1px 1px black);
}

@media screen and (max-width: 900px) {
    .afterimage__grid{
        display: flex;
        flex-direction: column;
        flex: 1 1 90%;
        /* grid-template-rows: 70px 330px 330px 330px 330px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "frase"
        "capital"
        "zonanorte"
        "zonasur"
        "oeste"; */
        gap:4rem;
    }
    main{
        margin: 0 auto;
        max-width: 80vw;
    }
    .title__sedes{
        justify-self: center;
    }
    
    .sedes__foto{
        width: 15rem;
    }
}

/***********FIN SEDES**********/
