/***********TORNEO**********/

.torneo {
    background-image: url(../img/Group1.jpg);
    background-size: cover;
    height: 1100px;
    background-position: center;
}

.afterimage__torneo{
    section{
        article{
            #titulo{
                font-size: $large-text;
                color: $primary-color;
                align-self: start;
                justify-self: start;
                margin-bottom: 25px;
            }
        }
    }
}



/***********FIN TORNEO**********/