/***********VARIABLES**********/

$primary-color: #f5f1e3;
$secondary-color: #1b9aaa;
$back-color: black;
$medium-text: 1.6rem;
$large-text:2.5rem;
$small-text:1.4rem;
$tiny-text: 1rem;


/***********FIN VARIABLES**********/