/***********VARIABLES**********/

$primary-color: #f5f1e3;
$secondary-color: #1b9aaa;
$back-color: black;
$medium-text: 1.8em;
$large-text:2.5em;
$small-text:1.4em;
$tiny-text: 0.8rem;


/***********FIN VARIABLES**********/